/*
Styled the Header Tab
*/
.header {
    text-align: center;
    color: blueviolet;
    background-image: url('image/Header_Image.jpg');
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}
/*
Changed Font for entire body tag
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
/*
Styled the Navigation Bar 
*/

.topnav {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
    color: blueviolet;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: blueviolet;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: palevioletred;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: purple;
    color: white;
  }

  .topnav p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  
/*
Styled the Side-Bar
*/
aside{
  margin-right: 30px;
  float: right; 
  color:blueviolet;
  
}
.sidebar h1 {
  font-weight: bolder;
  text-decoration: none;
  font-size: 30px;
}
.sidebar p{
  font-weight: bolder;
  text-decoration: underline;
}
/*
Styled the article tab
*/
.articletab{
    color: blueviolet;
    font-weight: bolder;
    
}


/*
Styled the section tab
*/

.sectiontab{
text-align: center;
font-weight: bolder;
color: blueviolet;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

/*
Styled the Footer
*/

footer {
  padding-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }

